/* Colors */

$color-darkest: #000;
$color-lightest: #FFF;

$color-primary: #FF4081;

/* Fonts */

$font-base-stack: Arial, Helvetica Neue, Helvetica, sans-serif;
$font-branding: 'Sansita', sans-serif;
